<div class="col-lg-3">

</div>

<div class="col-lg-9">
        <div class="bf-docs-section">
            <h2>Options</h2>
            <p>Use any of the available button classes to quickly create a styled button.</p>
            <h4 class="bf-example-title">Example</h4>
            <div class="bf-example">
                <button type="button" class="btn">Base</button>
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-inverse">Inverse</button>
                <button type="button" class="btn btn-link">Link</button>
            </div>
        </div>
        <div class="bf-docs-section">
            <h2>Sizes</h2>
            <p>Fancy larger or smaller buttons? Add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code> for additional sizes.</p>
            <h4 class="bf-example-title">Example</h4>
            <div class="bf-example bf-example-align">
                <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                <button type="button" class="btn btn-primary">Default button</button>
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
            </div>
            <div class="bf-example">
                <a href="#" class="btn btn-link btn-xs">Extra small button</a>
                <a href="#" class="btn btn-link btn-sm">Small button</a>
                <a href="#" class="btn btn-link">Default button</a>
                <a href="#" class="btn btn-link btn-lg">Large button</a>
            </div>
        </div>
        <div class="bf-docs-section">
            <h2>Block level button</h2>
            <p>Create block level buttons—those that span the full width of a parent— by adding <code>.btn-block</code>.</p>
            <h4 class="bf-example-title">Example</h4>
            <div class="bf-example">
                <div style="max-width: 610px;">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
                    <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
                </div>
            </div>
        </div>
        <div class="bf-docs-section">
            <h2>Disabled state</h2>
            <p>Add the <code>disabled</code> attribute to <code>&lt;button&gt;</code> buttons.</p>
            <h4 class="bf-example-title">Example</h4>
            <div class="bf-example">
                <button type="button" class="btn btn-primary btn-lg" disabled="disabled">Primary button</button>
                <button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>
            </div>
            <p>Add the <code>.disabled</code> class to <code>&lt;a&gt;</code> buttons.</p>
            <h4 class="bf-example-title">Example</h4>
            <div class="bs-example">
                <a href="#" class="btn btn-primary btn-lg disabled">Primary link</a>
                <a href="#" class="btn btn-default btn-lg disabled">Link</a>
            </div>
        </div>
        <div class="bf-docs-section">
            <h2>Button tags</h2>
            <p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>
            <h4 class="bf-example-title">Example</h4>
            <form class="bs-example">
                <a class="btn btn-default" href="#">Link</a>
                <button class="btn btn-default" type="submit">Button</button>
                <input class="btn btn-default" type="button" value="Input">
                <input class="btn btn-default" type="submit" value="Submit">
            </form>
        </div>
        <div class="bf-docs-section">
            <h2>Single toggle</h2>
            <p>Add <code>data-toggle="button"</code> to activate toggling on a single button.</p>
            <h4 class="bf-example-title">Example</h4>
            <div class="bf-example">
                <button type="button" class="btn btn-primary active" data-toggle="button">Single toggle</button>
            </div>
        </div>

</div>