<div class="jumbotron" >
    <div class="container">
        <h1>Motorola Solutions Day 2013</h1>
        <p><small>이 페이지는 원할한 모토로라 이벤트 진행을 위해 임시로 존재합니다.</small></p>
        <p><small>참가 등록 시 QRCOde 생성 / 현장 참여 신청시 참가 등록, QRCODe 생성 및 바로 네임택 출력</small></p>
        <p><strong>REST API</strong></p>
        <p>Get : 참석자 목록을 불러옴, url : 미정</p>
        <p>Update : 참석자 정보 수정, url : 미정</p>
        <p>Delete : 참석자 제거, url : 미정</p>
        <p>Post : 참석자 등록 및 QRCode 생성, url : 미정</p>
        <p><a class="btn btn-danger  btn-lg" href="/participantCreate">참석자 등록</a></p>
    </div>
</div>