<div class="col-lg-12">
    <h2>만들어보자</h2>

    <p>멤버는 이벤트, 서베이, 이메일를 가진다.</p>
    <p>이벤트는 서베이, 이메일을 가진다.</p>

    <p>멤버 목록은 관리자만 접근 가능</p>
    <p>이벤트, 서베이, 이메일 생성 페이지는 로그인 유저만 접근 가능</p>
    <p>회원 가입(멤버 등록)은 로그인 안된 비회원만 가능</p>
    <h2 class="text-danger">로그인은 1분간만 유지</h2>
    <p><a href="/memberJoin" class="btn btn-default">회원가입</a></p>
</div>


<!--
<div class="carousel slide carousel-with-animated-content" id="carousel-works">
    <div class="carousel-inner">
        <div class="item active">
            <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-item portfolio-style-3 animated-when-visible animated flipInY" data-animation-type="flipInY">
                        <div class="frame-browser">
                            <figure>
                                <img alt="" src="https://lh3.googleusercontent.com/-rcf8TxGmonM/UmFN6D48KtI/AAAAAAAAEMg/X-JVztBIjuY/w800-h600-no/IMAG1212.jpg">
                                <figcaption>
                                    <h5 class="fp-title">
                                        <a href="portfolio-single.html">Color Picker</a>
                                    </h5>
                                    <div class="fp-content">Web Development</div>
                                    <div class="fp-buttons">
                                        <a class="btn btn-default btn-sm fp-details-btn" href="portfolio-single.html">
                                            <i class="icon-file-text-alt"></i>
                                            View Details
                                        </a>
                                        <a class="btn btn-default btn-sm fp-lightbox-btn swipebox" href="http://cdn.pins.ms/earth_html/unsplash.jpg" title="Lightbox Example">
                                            <i class="icon-zoom-in"></i>
                                            View Bigger
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item portfolio-style-3 animated-when-visible delay-animation-one animated flipInY" data-animation-type="flipInY">
                        <div class="frame-browser">
                            <figure>
                                <img alt="" src="https://lh5.googleusercontent.com/-zhi5qEEoe7s/UjyN1hOGu8I/AAAAAAAADqY/RUcL4xnUYyM/w450-h600-no/1379677601587.jpg">
                                <figcaption>
                                    <h5 class="fp-title">
                                        <a href="portfolio-single.html">Color Picker</a>
                                    </h5>
                                    <div class="fp-content">Web Development</div>
                                    <div class="fp-buttons">
                                        <a class="btn btn-default btn-sm fp-details-btn" href="portfolio-single.html">
                                            <i class="icon-file-text-alt"></i>
                                            View Details
                                        </a>
                                        <a class="btn btn-default btn-sm fp-lightbox-btn swipebox" href="http://cdn.pins.ms/earth_html/unsplash.jpg" title="Lightbox Example">
                                            <i class="icon-zoom-in"></i>
                                            View Bigger
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item portfolio-style-3 animated-when-visible delay-animation-two animated flipInY" data-animation-type="flipInY">
                        <div class="frame-browser">
                            <figure>
                                <img alt="" src="https://lh5.googleusercontent.com/-xiP2LAzrENU/UH_-StdmLxI/AAAAAAAAApc/IKqfvXECdu0/w800-h600-no/IMAG0199.jpg">
                                <figcaption>
                                    <h5 class="fp-title">
                                        <a href="portfolio-single.html">Color Picker</a>
                                    </h5>
                                    <div class="fp-content">Web Development</div>
                                    <div class="fp-buttons">
                                        <a class="btn btn-default btn-sm fp-details-btn" href="portfolio-single.html">
                                            <i class="icon-file-text-alt"></i>
                                            View Details
                                        </a>
                                        <a class="btn btn-default btn-sm fp-lightbox-btn swipebox" href="http://cdn.pins.ms/earth_html/unsplash.jpg" title="Lightbox Example">
                                            <i class="icon-zoom-in"></i>
                                            View Bigger
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-item portfolio-style-3 animated-when-visible animated flipInY" data-animation-type="flipInY">
                        <div class="frame-browser">
                            <figure>
                                <img alt="" src="http://dribbble.s3.amazonaws.com/users/73492/screenshots/1210682/potes_1x.jpg">
                                <figcaption>
                                    <h5 class="fp-title">
                                        <a href="portfolio-single.html">Color Picker</a>
                                    </h5>
                                    <div class="fp-content">Web Development</div>
                                    <div class="fp-buttons">
                                        <a class="btn btn-default btn-sm fp-details-btn" href="portfolio-single.html">
                                            <i class="icon-file-text-alt"></i>
                                            View Details
                                        </a>
                                        <a class="btn btn-default btn-sm fp-lightbox-btn swipebox" href="http://cdn.pins.ms/earth_html/unsplash.jpg" title="Lightbox Example">
                                            <i class="icon-zoom-in"></i>
                                            View Bigger
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item portfolio-style-3 animated-when-visible delay-animation-one animated flipInY" data-animation-type="flipInY">
                        <div class="frame-browser">
                            <figure>
                                <img alt="" src="http://dribbble.s3.amazonaws.com/users/18461/screenshots/1211161/rd-pattern.png">
                                <figcaption>
                                    <h5 class="fp-title">
                                        <a href="portfolio-single.html">Color Picker</a>
                                    </h5>
                                    <div class="fp-content">Web Development</div>
                                    <div class="fp-buttons">
                                        <a class="btn btn-default btn-sm fp-details-btn" href="portfolio-single.html">
                                            <i class="icon-file-text-alt"></i>
                                            View Details
                                        </a>
                                        <a class="btn btn-default btn-sm fp-lightbox-btn swipebox" href="http://cdn.pins.ms/earth_html/unsplash.jpg" title="Lightbox Example">
                                            <i class="icon-zoom-in"></i>
                                            View Bigger
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-item portfolio-style-3 animated-when-visible delay-animation-two animated flipInY" data-animation-type="flipInY">
                        <div class="frame-browser">
                            <figure>
                                <img alt="" src="http://dribbble.s3.amazonaws.com/users/23569/screenshots/1212234/prince_ink_co_long_live_print_1x.png">
                                <figcaption>
                                    <h5 class="fp-title">
                                        <a href="portfolio-single.html">Color Picker</a>
                                    </h5>
                                    <div class="fp-content">Web Development</div>
                                    <div class="fp-buttons">
                                        <a class="btn btn-default btn-sm fp-details-btn" href="portfolio-single.html">
                                            <i class="icon-file-text-alt"></i>
                                            View Details
                                        </a>
                                        <a class="btn btn-default btn-sm fp-lightbox-btn swipebox" href="http://cdn.pins.ms/earth_html/unsplash.jpg" title="Lightbox Example">
                                            <i class="icon-zoom-in"></i>
                                            View Bigger
                                        </a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="iconed-features lift-on-hover style-1">
    <div class="row">
        <div class="col-md-4">
            <div class="iconed-feature">
                <div class="feature-icon-w">
                    <i class="icon-eye-open"></i>
                </div>
                <h4>Responsive Layout</h4>
                <p>Works perfectly on everything from desktops to mobile devices.</p>
                <div class="btn-show-on-parent-hover">
                    <a class="read-more-link" href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="iconed-feature">
                <div class="feature-icon-w">
                    <i class="icon-cog"></i>
                </div>
                <h4>Unlimited Colors</h4>
                <p>Theme comes with multiple predefined colors.</p>
                <div class="btn-show-on-parent-hover">
                    <a class="read-more-link" href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="iconed-feature">
                <div class="feature-icon-w">
                    <i class="icon-leaf"></i>
                </div>
                <h4>Modern Look</h4>
                <p>Clean and simple design is what people want nowadays.</p>
                <div class="btn-show-on-parent-hover">
                    <a class="read-more-link" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" >
    <div class="container">
        <h1>Motorola Solutions Day 2013</h1>
        <p><small>이 페이지는 원할한 모토로라 이벤트 진행을 위해 임시로 존재합니다.</small></p>
        <p><small>참가 등록 시 QRCOde 생성 / 현장 참여 신청시 참가 등록, QRCODe 생성 및 바로 네임택 출력</small></p>
        <p><strong>REST API</strong></p>
        <p>Get : 참석자 목록을 불러옴, url : 미정</p>
        <p>Update : 참석자 정보 수정, url : 미정</p>
        <p>Delete : 참석자 제거, url : 미정</p>
        <p>Post : 참석자 등록 및 QRCode 생성, url : 미정</p>
        <p><a class="btn btn-danger  btn-lg" href="/participantCreate">참석자 등록</a></p>
    </div>
</div>-->
