<div class="col-lg-12" >
    <div class="page-header">
        <h1 class="text-success">이벤트<small>목록</small><a class="btn pull-right btn-success" ng-href="/eventCreate">이벤트 만들미</a></h1>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-bordered">
            <thead>
            <tr>
                <td>#</td>
                <td>제목</td>
                <td class="col-lg-5">내용</td>
                <td>만든이</td>
                <td>서베이</td>
                <td>이메일</td>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat = "something in somethings">

                <td>{{$index+1}}</td>
                <td><a href="/eventMain/{{something._id}}" target="_self">{{something.Title}}</a></td>
                <td class="col-lg-5"><a href="/eventMain/{{something._id}}" target="_self">{{something.Memo}}</a></td>
                <td><a href="/memberMain/{{something.Creator._id}}">{{something.Creator.Name}}</a></td><!--파퓰레이트-->
                <td>{{something.Surveys.length}}개</td>
                <td>{{something.Emails.length}}개</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>