<div class="col-lg-2" >
</div>
<div class="col-lg-8" >
    <div class="page-header">
        <h1 class="text-success">이벤트<small>메인</small></h1>
    </div>
    <div class="jumbotron">
        <h1>{{something.Title}}</h1>
        <p>{{something.Memo}}</p>
        <p>만든사람 <a href="/memberMain/{{something.Creator._id}}">{{something.Creator.Name}}</a></p>
        <p ng-if="something.Creator._id == User._id"><a class="btn btn-warning" ng-href="/surveyCreate/{{eventId}}">서베이 만들미</a>
            <a class="btn btn-danger" ng-href="/emailCreate/{{eventId}}">이메일 만들미</a></p>
    </div>
    <h5>서베이 {{something.Surveys.length}}개</h5>
    <ul class="list-group">
        <li class="list-group-item" ng-if="something.Surveys.length == 0">없음</li>
        <li class="list-group-item" ng-repeat="survey in something.Surveys">
            <a href="/surveyMain/{{survey._id}}">{{survey.Title}}</a>
        </li>
    </ul>
    <h5>이메일 {{something.Emails.length}}개</h5>
    <ul class="list-group">
        <li class="list-group-item" ng-if="something.Emails.length == 0">없음</li>
        <li class="list-group-item" ng-repeat="email in something.Emails">
            <a href="/emailMain/{{email._id}}">{{email.Title}}</a>
        </li>
    </ul>
</div>
<div class="col-lg-2" >
    <div class="text-primary" ng-if="something.Creator._id == User._id">
        (*나의 이벤트 입니다.)
        <button class="btn btn-primary" type="button" ng-click="deleteSomething()">삭제</button>
    </div>
</div>