<div class="col-lg-2" >
</div>
<div class="col-lg-8" >
    <div class="page-header">
        <h1 class="text-warning">서베이<small>생성</small></h1>
    </div>
    <p>{{myParent}}</p>
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-lg-2 control-label" >제목</label>
            <div class="col-lg-10"><input type="text" ng-model = "something.Title" class="form-control" placeholder="제목"></div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">대충 내용</label>
            <div class="col-lg-10"><input type="text" ng-model = "something.Memo" class="form-control" placeholder="내용"></div>
        </div>
    </div>
    <button type="button" class="btn btn-block btn-warning" ng-click="createSomething()">만들미</button>
</div>
<div class="col-lg-2" >
</div>