<div class="col-lg-12" >
    <div class="page-header">
        <h1 class="text-warning">서베이<small>목록</small><a class="btn pull-right btn-warning" ng-href="/surveyCreate">서베이 만들미</a></h1>
    </div>
    <div class="table-responsive">
        <table class="table  table-condensed table-bordered">
            <thead>
            <tr>
                <td>#</td>
                <td>부모 이벤트</td>
                <td>제목</td>
                <td class="col-lg-5">내용</td>
                <td>만든이</td>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat = "something in somethings">
                <td>{{$index+1}}</td>
                <td><span ng-if="!something._Event">없음</span><a href="/eventMain/{{something._Event._id}}">{{something._Event.Title}}</a></td>
                <td><a href="/surveyMain/{{something._id}}">{{something.Title}}</a></td>
                <td class="col-lg-5"><a href="/surveyMain/{{something._id}}">{{something.Memo}}</a></td>
                <td><a href="/memberMain/{{something.Creator._id}}">{{something.Creator.Name}}</a></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>